.app {
  /* background-color: #181a1b; */
  min-height: 100vh;
  font-family: "Segoe UI";
  color: #dad7d2;
  font-weight: 500;
}

header {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100vw;
}

.navbar-container {
  box-sizing: border-box;
  display: flex;
  padding: 2rem;
  width: 72rem;
}

.navbar-logo {
  height: 2rem;
}

nav {
  margin-left: auto !important;
}

.nav-button {
  box-sizing: border-box;
  margin-left: 2rem;
  cursor: pointer;
}

.nav-button:hover {
  color: #fed136;
}

.mobile-nav-hamburger {
  color: rgb(255, 255, 255);
  background-color: rgb(171, 133, 1);
  padding: 0.5rem 0.75rem;
  font-size: 0.75rem;
  border-radius: 0.4rem;
  margin-left: auto !important;
  display: none;
}

.welcome-section {
  background-image: url("header-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  height: 50rem;
}

@media (max-width: 1200px) {
  .navbar-container {
    width: 60rem;
  }
}

@media (max-width: 990px) {
  header {
    background-color: #232527;
  }
  .navbar-container {
    padding: 1.25rem;
    align-items: center;
    width: 46rem;
  }
  .navbar-logo {
    height: 1.5rem;
  }
  nav {
    display: none;
  }
  .mobile-nav-hamburger {
    display: block;
  }
}

@media (max-width: 770px) {
  .navbar-container {
    width: 35rem;
  }
}
